@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #17191D;
    font-family: 'NEXON Lv2 Gothic', sans-serif, serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 auto;
    width: 460px;
    height: 100vh;
    min-height: 946px;
}

.footer {
    text-align: center;
    font-size: 11px;
    height: 48px;
    color: #9fa1a7;
}

.main {
    display: flex;
    flex-direction: column;
    padding-top: 120px;   
}

.header {
    display: flex;
    flex-direction: column;
    gap: 27px;



    
}

.logo-box {
    height: 20px;
}

.logo {
    height: 100%;

    background-image: url('./images/nexon.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 40%;
}

.tab-container {
    display: flex;
    justify-content: center;
}

.tab-item {
    box-sizing: border-box;
    width: 105px;
    height: 34px;
    border-bottom: 1px solid #e5e9eb;
    color: #9fa1a7;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 34px;
}

.active {
    color: #17191d;
    border-bottom-color: #17191d;
    border-bottom-width: 2px;
}

.tab-item:hover {
    color: #0077ff;
    cursor: pointer;
}

.active:hover {
    color: #17191d;
    cursor: default;
}

.input-container{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-box {
    border: 1px solid #e5e8eb;
    padding: 18px 12px;
}

.input-box > input {
    border: none;
    outline: none;

    width: 100%;
    font-size: 16px;
    font-weight: 700px;
}

.input-box > input::placeholder {
    color: #e5e8ea;
}

.login-check-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.login-check-text {
    color: #666666;
    font-size: 12px;
}

.link-container{
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding-top: 24px;
}

.button {
    padding: 20px 0;
    background-color: #17191d;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.button:hover {
    background-color: #0077ff;
    cursor: pointer;
}

.link-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-items {
    display: flex;
    gap: 8px;
}

.link-item {
    font-size: 12px;
    font-weight: bold;
    color: #737881;
}

.link-item:hover {
    color: #0077ff;
    cursor: pointer;
}

.security-link {
    font-size: 12px;
    font-weight: bold;
    color: #0077ff;
}

.security-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.security-link::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #0077ff;
    margin: 0 2px -3px;
}

.sns-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 40px;

}

.sns-box {
    display: flex;
    align-items: center;
    gap: 20px;

    box-sizing: border-box;
    height: 40px;
    border: 1px solid #d2d6e0;  
    border-radius: 2px; 
    padding-left: 8px;
}

.sns-box:hover {
    background-color: #e5e8ea;
    color: #ffffff;
    cursor: pointer;

    color: #51555d;
}

.sns-text {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #51555d;
}

.sns-icon {
    width: 18px;
    height: 18px;

    background-size: 100% 100%;
    background-position: 50% 50%;
}

.facebook {
    background-image: url('./images/facebook.png');
}

.google {
    background-image: url('./images/google.png');
}

.naver {
    background-image: url('./images/naver.png');
}

.apple {
    background-image: url('./images/apple.png');
}