@font-face {
    font-family: 'NEXON Lv1 Gothic';
    src: url('./NEXONLv1GothicRegular.ttf') format('truetype');
}

body {
    color: #17191D;
    font-family: 'NEXON Lv2 Gothic', sans-serif, serif;
}

#wrapper {
    max-width: 492px;
    min-height: 77vh;
    padding: 0 16px 200px;
    margin: 0 auto;
}

.header {
    min-width: 328px;
    padding-top: 120px;
    text-align: center;
}

.text-box {
    padding: 7px 14px;
    background-color: #17191d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 14px;
    z-index: 1000;
}

.header-text {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

.logo-box {
    height: 20px;
}

.logo {
    height: 100%;

    background-image: url('./nexon-logo.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 120px;
}

.tab-container {
    display: flex;
    justify-content: center;
    padding-top: 27px;
}

.tab-item {
    box-sizing: border-box;
    width: 105px;
    height: 34px;
    border-bottom: 1px solid #e5e9eb;
    color: #9fa1a7;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 34px;
}

.active {
    color: #17191d;
    border-bottom-color: #17191d;
    border-bottom-width: 2px;
}

.tab-item:hover {
    color: #0077ff;
    cursor: pointer;
}

.active:hover {
    color: #17191d;
    cursor: default;
}

.login-sec {
    padding-top: 30px;
}

.logintext {
    color: #737881;
    text-align: center;
    font-size: 12px;
    padding-bottom: 30px;
    letter-spacing: -.6px;
}

.input-box1 {
    border: 1px solid #e5e8eb;
    padding: 18px 12px;
    width: 100%;
}

.input-box1 > input {
    border: none;
    outline: none;

    width: 100%;
    font-size: 16px;
}

.input-box1 > input::placeholder {
    color: #c0c0c0;
}

.input-box2 {
    border: 1px solid #e5e8eb;
    padding: 18px 12px;
    width: 100%;
}

.input-box2 > input {
    border: none;
    outline: none;

    width: 100%;
    font-size: 16px;
}

.input-box2 > input::placeholder {
    color: #c0c0c0;
}

.input-box-container {
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
}

.button {
    padding: 20px 0;
    background-color: #17191d;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.button:hover {
    background-color: #0077ff;
    cursor: pointer;
}

.login-guide-container {
    position: relative;
    padding-top: 20px;
    margin-top: 68px;
    border-top: 1px solid #e5e8eb;
}

.guide-items {
    display: flex;
    gap: 250px;
}

.guide-item {
    font-size: 12px;
    font-weight: bold;
    color: #495057 ;
}

.guide-link {
    font-size: 12px;
    font-weight: bold;
    color: #868e96;
}

.guide-link:hover {
    color: #0077ff;
    cursor: pointer;
}

.guide-text-box {
    padding-top: 10px;
}

.guide-text {
    line-height: 1.67;
    letter-spacing: -.6px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #9fa1a7;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 328px;
    height: 50px;
    padding-top: 32px;
    text-align: center;
}

.footer-text {
    font-size: 11px;
    color: #9fa1a7;
    font-weight: bold;
}